:root {
   --color-primary: #80daeb;
   --color-white: #e9e9e9;
   --color-black: none;
   --color-black-1: #212b38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: 'Josefin Sans', sans-serif;
  text-shadow: 2px 1px 5px black;
}

header{
      width: 100%; height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
}

/*Background Video */
#myVideo { 
  padding: auto;
  margin: auto;
  object-fit: cover;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 110%; 
  height: 100%;
}
 /* Logo */
.logo {
  color: white;
  margin: 20px 0 20px 0;
  font-size: 60px;
  font-weight: 700;
  text-shadow: 2px 1px 5px black;
  
}

.logo span {
  color: var(--color-primary);
}

/* Menu - Drop Down List */
.menu-bar {
  background-color: var(--color-black);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  position: relative;
  margin: 20px 0 20px 0;
}

.menu-bar ul{
  display: inline-flex;
}
.menu-bar ul li{
  list-style: none;
  margin-left: 1px;
}
.menu-bar ul li:first-child{
  margin-left: 0px;
}
.menu-bar ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu-bar ul li a:hover{
  color: black;
}


.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
   padding: 5px 15px;
   position: relative;
}

.menu-bar ul li a {
 text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;

}

.menu-bar ul li a:hover {
  color: var(--color-primary);
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

.dropdown-menu {
  display: none;
}

.dropdown-menu li {
  text-align: center;
}

.dropdown-menu li::after{
  content: '';
  width: 0px;
  margin: 0 auto;
  height: 2px;
  background-color: gold;
  display: block;
  transition: 0.3s width ease-in-out; 
}

.dropdown-menu li:hover::after{
  width: 100px;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-black);
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}


.dropdown-menu-1 {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1{
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--color-black);
}




/* Welcome To India */
.subtitie{
  position: absolute;
  top:30%;
  left: 16%;
  transform: translate(-50%, -50%);
  padding: 0 20px;
  text-align: center;
  color: white;
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 3px;
  text-shadow: 1px 1px 10px black;

}
/* DO COME & VISIT INDIA */
.maintitie{
  position: absolute;
  top:55%;
  left: 20%;
  color: white;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}

.maintitie span {
  color: var(--color-primary);
}


/* subtitle paragraphs */
  P{
  color: white;
  font-size: 25px;
  word-spacing: 6px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 10px black;

}
/* Button */
.btns{
  margin: 30px;
}

.button{
  position: absolute;
  top:72%;
  left: 20%;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 2px;
color: #fff;
outline: 2px solid #fff;
padding: 15px 30px;
position: absolute;
left: 12%;
transform: translateX(-50%);
overflow: hidden;
transition: color 1s;
}

.button:hover{
color: #000000;
}

.button::before{
content: '';
position: absolute;
top: 0;
left: -50px;
width: 0;
height: 100%;
background-color: #fff;
transform: skewX(40deg);
z-index: -1;
transition: width 1s;
}

.button:hover::before{
width: 150%;
}


